<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.aptenobytes.bob.feature.notification">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="@string/feature_notification">
        <dist:fusing dist:include="true"/>
    </dist:module>

</manifest>